

  
  
  
 .bg-white{

 } 
.display {

  display: flex;
}

.items-center {

  align-items: center;
}

.decoration-none {
	text-decoration: none;
;
}

.text-decoration-b{
  color: bisque;
}
.text-beige{
	color: bisque;
}
.bg-bisque .m-14{
	background: bisque;
}
	.m-14{  
    margin-top: 14px;

  }


.body-form{
	margin: 37px;
}
.text-3xl{

	font-size: 284%;
}
  .w-505{ 
    
    width: 505px;
  }


.p-10{  
	padding: 10px;
}
.text-form{

}
 .inline-block {
	display: inline-block;
 }
  .ml-110{
    margin-left: 110px;
  }
  .w-5{  
    width: 54%;

  }
  .bg-white{ 

    background-color: white;
  }

 .w-297{
	width: 297px;
}
 .w-55{
	width: 55%;
}
 .w-55{
	width: 55%;
}
.inline-block {
	display: inline-block;
}
	.ml-209{  
    margin-left: 209px;

  }
  .w-auto{  
    width:auto ;
    
  }
  .bg-white{

    background-color: white;
  }

.colsizeh{
	width: 104%;
	height: 70px;
	padding: 0 0 0 0 !important;
	background: cadetblue;
	border-bottom: 2px solid rgba(255, 192, 76, 80%);
	position: relative;
	margin-left: -11px;
	margin-top: -9px;
}
.flexc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-20 .w-5  .px-10 .pl-14{
	padding-right: 10%;
}
.pl-14{
  
	padding-left: 14px;
}
  .h-20{ 

    height: 20%;
  }
  .w-5{
    width: 5%;

  }

.bg-cadet-blue{
    background: cadetblue;
}
.h-320{ 
  height: 320px;

}
    .w-102{
      width: 102%;

    }
    .m-20{

      margin-top: 20%;
    }
    ml-17{

      margin-left: -17px;
    }

    .text-cadetblue {
    color: cadetblue;
    }
     .bg-bisque {
       background-color: bisque;

     }
  

.text-beige .bg-cadetblue{
	color: bisque;
}
  .bg-cadetblue{
    background-color: cadetblue;

  }


@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.bg-bisque{
	background-color: bisque;
}

.p-3 .bg-white  {
  padding: 30px;
}
.rounded-10 {
  border-radius: 10px;
}

  .bg-white{
    background-color: white;

  }
.rounded-10{

  border-radius: 10px;
}

.bg-white .p-10 .rounded-10px  {
  font-size: 20px;
}
 .w-full  {
  

  width: 100%;
}
  .h-px{
    height: 1px;

  }
  .bg-cadetblue{
    
    background-color: cadetblue;
  }

.flex{

  display: flex;
}

 .bg-cadetblue {

   background-color: cadetblue;
 }
  .flex-wrap{

    flex-wrap: wrap;

  }

.mb-30{
  margin-bottom: 30px;

}

.relative{
  position: relative; /* Pour mettre positionner l’élément dans le flux normal de la page */

}
 
.flex{
  display: flex;

} 
.mt-20 {
  margin-top: 20px;
}

  .flex-col{
    flex-direction: column;

  }

.mt-5 {

  margin-top: 5px;
}
.p-10 {
  padding: 10px 5px 10px 30px;

}
.border-1{
  border: 1px solid white;

}
 
   .rounded-5 {  
   border-radius: 5px;
   }
.outline-cyan-50 {

  outline-color: cadetblue;
}


.absolute
{
  position: absolute; /* positionné par rapport à son parent le plus proche positionné */

}


.left {

  left: 0;
}

.top{
  top: 25px;

}

.p-9{
  padding: 9px 8px;

}

 .text-cadetblue {
  color: cadetblue;
}
.bg-white .p-10 .rounded-10px .body-form .right {
  margin-left: 40px;
}
.bg-white .p-10 .rounded-10px .body-form .right .grid-align {
  height: 100%;
}
.form-p3-bg .body-form .right .crew textarea {
  margin-top: 5px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 2px solid cadetblue;
  outline: none;
  border-radius: 5px;
  resize: none;
  height: 72%;
}
.form-p3-bg .mt-10 .bg-bisque .bisque .p-10 .p-20 .b-none .rounded-5 .cursor-pointer {
  margin-top: 10px;
  background-color: bisque;
  color: cadetblue;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s;
}
.mt-94{
	margin-top: 94px;
}
.form-p3-bg .foot-form .scale-x-105:hover {
  transform: scale(1.05);
}
.formulaire{
	background-color: bisque;
	display: flex;
}
.grid .text-center{
  display: grid;
  text-align: center;
}
.block {
display:block ;
}
.grid {
  display: grid;
}
.bg-bisque {
  background-color: bisque;
  
}
.w-100 {
  width: 100%;
}
.h-auto {
  height: auto;
}
.fas{
  color: cadetblue;

}
.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.rounded-6 {
  border-radius: 6px;
}
.h-40 {
  height: 40px;
}

@media screen and (max-width: 920px) {
  form .body-form .right {
    margin-left: 0px;
  }
}
